



body{

height: 100vh;
width: 100vw;
background-color: rgb(78, 137, 189);

}

/* .parent ol{

    background-color: blanchedalmond;
} */
.parent {

    & ol{
    background-color: blanchedalmond;
    }
    & ul:first-child{
        background-color: blueviolet;
    }
    & ul:last-child{
        background-color: rgb(122, 95, 147);
    }

}
