#container {

    /* text-align: center; */
    background-color: rgb(70, 156, 237);


}

.img {
    border: 23px solid blueviolet;
    padding:23px 12px 11px;
    display: flex;
    justify-content: space-around;
    height: 320px;
}
/* #p1{
    background-color: aqua;
} */
.p2{
    background-color: red;
}
.p3{
    background-color: blue;
}
p{
    background-color: antiquewhite;
}